# Порт сервера
PORT=3000

# Секретный ключ для JWT 
JWT_SECRET=3781bca8c260d4d4b034ed710646e455f38c23a272489527c6f77d287e300dd6

# Режим работы
NODE_ENV=development

# Путь к базе данных
DB_PATH=./database.sqlite